In [1]:
import numpy as np
import pandas as pd

How to create data frame

In [2]:
df = pd.DataFrame({
    "Name":[
        "John", "Anna", "Peter", "Nana", "Lala", "Rishabh", "Ravi"
        ],
    "Age":[
        20, 25, 29, 26, 25, 29, 32
        ]
})
print(df)

      Name  Age
0     John   20
1     Anna   25
2    Peter   29
3     Nana   26
4     Lala   25
5  Rishabh   29
6     Ravi   32

How to create data frame in numpy

In [3]:
x = np.array(["A", "B", "C", "D", "E"])
y = np.array([1, 2, 3, 4, 5,])
df = pd.DataFrame({
    "Name":x, "Age":y
})
print(df)

  Name  Age
0    A    1
1    B    2
2    C    3
3    D    4
4    E    5

You can check the current working directory using 'os' model in python

In [4]:
import os
print(os.getcwd())

d:\PYTHON\learn\.venv

How to open csv file or other file in python

In [5]:
df = pd.read_csv(r"D:\PYTHON\learn\Data\sampledata.csv", encoding='latin1')
df

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2016-152156,08-11-2016,11-11-2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,2,CA-2016-152156,08-11-2016,11-11-2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,3,CA-2016-138688,12-06-2016,16-06-2016,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
3,4,US-2015-108966,11-10-2015,18-10-2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
4,5,US-2015-108966,11-10-2015,18-10-2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9989,9990,CA-2014-110422,21-01-2014,23-01-2014,Second Class,TB-21400,Tom Boeckenhauer,Consumer,United States,Miami,...,33180,South,FUR-FU-10001889,Furniture,Furnishings,Ultra Door Pull Handle,25.2480,3,0.20,4.1028
9990,9991,CA-2017-121258,26-02-2017,03-03-2017,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,...,92627,West,FUR-FU-10000747,Furniture,Furnishings,Tenex B1-RE Series Chair Mats for Low Pile Car...,91.9600,2,0.00,15.6332
9991,9992,CA-2017-121258,26-02-2017,03-03-2017,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,...,92627,West,TEC-PH-10003645,Technology,Phones,Aastra 57i VoIP phone,258.5760,2,0.20,19.3932
9992,9993,CA-2017-121258,26-02-2017,03-03-2017,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,...,92627,West,OFF-PA-10004041,Office Supplies,Paper,"It's Hot Message Books with Stickers, 2 3/4"" x 5""",29.6000,4,0.00,13.3200
9993,9994,CA-2017-119914,04-05-2017,09-05-2017,Second Class,CC-12220,Chris Cortes,Consumer,United States,Westminster,...,92683,West,OFF-AP-10002684,Office Supplies,Appliances,"Acco 7-Outlet Masterpiece Power Center, Wihtou...",243.1600,2,0.00,72.9480

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Row ID         9994 non-null   int64
 1   Order ID       9994 non-null   object
 2   Order Date     9994 non-null   object
 3   Ship Date      9994 non-null   object
 4   Ship Mode      9994 non-null   object
 5   Customer ID    9994 non-null   object
 6   Customer Name  9994 non-null   object
 7   Segment        9994 non-null   object
 8   Country        9994 non-null   object
 9   City           9994 non-null   object
 10  State          9994 non-null   object
 11  Postal Code    9994 non-null   int64
 12  Region         9994 non-null   object
 13  Product ID     9994 non-null   object
 14  Category       9994 non-null   object
 15  Sub-Category   9994 non-null   object
 16  Product Name   9994 non-null   object
 17  Sales          9994 non-null   float64
 18  Quantity       9994 non-null   int64
 19  Discount       9994 non-null   float64
 20  Profit         9994 non-null   float64
dtypes: float64(3), int64(3), object(15)
memory usage: 1.6+ MB

In [7]:
df.describe()

,Row ID,Postal Code,Sales,Quantity,Discount,Profit
count,9994.000000,9994.000000,9994.000000,9994.000000,9994.000000,9994.000000
mean,4997.500000,55190.379428,229.858001,3.789574,0.156203,28.656896
std,2885.163629,32063.693350,623.245101,2.225110,0.206452,234.260108
min,1.000000,1040.000000,0.444000,1.000000,0.000000,-6599.978000
25%,2499.250000,23223.000000,17.280000,2.000000,0.000000,1.728750
50%,4997.500000,56430.500000,54.490000,3.000000,0.200000,8.666500
75%,7495.750000,90008.000000,209.940000,5.000000,0.200000,29.364000
max,9994.000000,99301.000000,22638.480000,14.000000,0.800000,8399.976000

See data only top 5 and bottom 5 rows data :-<br> "df["column_name"]

In [8]:
df["Sales"]

0       261.9600
1       731.9400
2        14.6200
3       957.5775
4        22.3680
          ...
9989     25.2480
9990     91.9600
9991    258.5760
9992     29.6000
9993    243.1600
Name: Sales, Length: 9994, dtype: float64

In [9]:
df["Sales"].head()

0    261.9600
1    731.9400
2     14.6200
3    957.5775
4     22.3680
Name: Sales, dtype: float64

In [10]:
df["Sales"].head(10)

0    261.9600
1    731.9400
2     14.6200
3    957.5775
4     22.3680
5     48.8600
6      7.2800
7    907.1520
8     18.5040
9    114.9000
Name: Sales, dtype: float64

In [11]:
df["Sales"].tail()

9989     25.248
9990     91.960
9991    258.576
9992     29.600
9993    243.160
Name: Sales, dtype: float64

In [12]:
df["Sales"].tail(10)

9984     31.500
9985     55.600
9986     36.240
9987     79.990
9988    206.100
9989     25.248
9990     91.960
9991    258.576
9992     29.600
9993    243.160
Name: Sales, dtype: float64

In [13]:
# Data m se kuch columns ko ek sath show krne k liye :- <br>df[["column_name1", "cloumn_name2", "column_name3",.......]]
df[["Sales", "Profit", "City"]]

         Sales    Profit             City
0     261.9600   41.9136        Henderson
1     731.9400  219.5820        Henderson
2      14.6200    6.8714      Los Angeles
3     957.5775 -383.0310  Fort Lauderdale
4      22.3680    2.5164  Fort Lauderdale
...        ...       ...              ...
9989   25.2480    4.1028            Miami
9990   91.9600   15.6332       Costa Mesa
9991  258.5760   19.3932       Costa Mesa
9992   29.6000   13.3200       Costa Mesa
9993  243.1600   72.9480      Westminster

[9994 rows x 3 columns]

In [14]:

df[["Sales", "Profit"]][0:5:2]

     Sales   Profit
0  261.960  41.9136
2   14.620   6.8714
4   22.368   2.5164

In [15]:
# DataFrame df ke kisi specific column ka first value access karna chahte hain, to aap zero-based indexing ka use kar sakte hain
df["Customer Name"][0]

'Claire Gute'

In [16]:
df["Customer Name"][0:4]

0        Claire Gute
1        Claire Gute
2    Darrin Van Huff
3     Sean O'Donnell
Name: Customer Name, dtype: object

In [ ]:
# Check pandas library version
print(pd.__version__)

2.2.3